USE [NBank]
GO
/****** Object:  StoredProcedure [dbo].[CreateCompanyGroup]    Script Date: 14-01-2026 11:43:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create OR ALTER Procedure [dbo].[CreateCompanyGroup]
@Message  NVARCHAR(4000) OUTPUT
,@CompanyGroupID bigint
,@CompanyGroupCode nvarchar(20)  = null
,@CompanyGroupName nvarchar(100)  = null
,@IsActive bit= null
AS
BEGIN
BEGIN TRANSACTION
	DECLARE @DCompanyGroupCode CHAR(1)
	DECLARE @DCompanyGroupName CHAR(1)
	SET @DCompanyGroupCode = 'N'
	SET @DCompanyGroupName = 'N'
    BEGIN TRY
		IF  EXISTS(SELECT * FROM CompanyGroupMaster WHERE CompanyGroupCode = @CompanyGroupCode)
			BEGIN
				SET @DCompanyGroupCode = 'Y'	
			END
		IF  EXISTS(SELECT * FROM CompanyGroupMaster WHERE CompanyGroupName = @CompanyGroupName)
			BEGIN
				SET @DCompanyGroupName = 'Y'	
			END
		IF @DCompanyGroupCode ='N' AND @DCompanyGroupName ='N'
			BEGIN
				INSERT INTO CompanyGroupMaster(CompanyGroupCode,CompanyGroupName,IsActive)VALUES(@CompanyGroupCode,@CompanyGroupName,@IsActive)
				IF @@ERROR = 0 
					BEGIN
						SET @Message='SAVE'
						COMMIT TRANSACTION
					END
			END
		ELSE
			BEGIN
				SET @Message='DUPLICATE'
				ROLLBACK TRANSACTION	
			END
        END TRY
    BEGIN CATCH
        SET  @Message=ERROR_MESSAGE() 
        ROLLBACK TRANSACTION
    END CATCH
END

