CREATE OR ALTER PROC dbo.CreateMapCompanyGroup
(
    @CompanyGroupId BIGINT,
    @CompanyIds dbo.CompanyIdList READONLY,
    @Message NVARCHAR(4000) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        /* Validation: one company can belong to only one group */
        IF EXISTS
        (
            SELECT 1
            FROM dbo.MapCompanyGroup M
            INNER JOIN @CompanyIds C
                ON M.CompanyId = C.CompanyId
            WHERE M.CompanyGroupId <> @CompanyGroupId
        )
        BEGIN
            SET @Message = 'One or more companies are already mapped to another group.';
            ROLLBACK TRANSACTION;
            RETURN;
        END

        /* Insert mapping */
        INSERT INTO dbo.MapCompanyGroup (CompanyGroupId, CompanyId)
        SELECT 
            @CompanyGroupId,
            C.CompanyId
        FROM @CompanyIds C
        WHERE NOT EXISTS
        (
            SELECT 1
            FROM dbo.MapCompanyGroup M
            WHERE M.CompanyGroupId = @CompanyGroupId
              AND M.CompanyId = C.CompanyId
        );

        COMMIT TRANSACTION;
        SET @Message = 'SAVE';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @Message = ERROR_MESSAGE();
    END CATCH
END
GO
