USE [NBank]
GO
/****** Object:  StoredProcedure [dbo].[GetAccountLedger]    Script Date: 18-01-2026 12:19:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROC [dbo].[GetAccountLedger]
@DateType NVARCHAR(20) =NULL
,@StartDate DATETIME  = NULL
,@EndDate DATETIME  = NULL
,@ChequeStatusID BIGINT = NULL 
,@BankID BIGINT = NULL
,@ChequeNo NVARCHAR(20) = NULL
,@AccountID BIGINT = NULL
,@ProjectID BIGINT = NULL
 ,@UserId          BIGINT = NULL  
AS
BEGIN
	DECLARE  @SQLQuery AS NVarchar(MAX)
	DECLARE @ParamDefinition AS NVarchar(MAX) 

	 SET @SQLQuery = 'SELECT *, (CASE ChequeTypeID WHEN 1 THEN (ISNULL(ChequeAmount,0)+ ISNULL( ChequeAmountTDS,0)) ELSE 0 END) as Debit
,(CASE ChequeTypeID WHEN 2 THEN (ISNULL(ChequeAmount,0)+ ISNULL( ChequeAmountTDS,0)) ELSE 0 END) as Credit
   
				

	 From View_ChequeEntry WHERE 1=1 ' 
   
   SET @SQLQuery = @SQLQuery + 	'AND ChequeEntryDate BETWEEN  COALESCE( CONVERT(VARCHAR(26),@StartDate, 23),ChequeEntryDate)   AND   COALESCE( CONVERT(VARCHAR(26),@EndDate, 23),ChequeEntryDate)'


    IF (@UserId IS NOT NULL AND @UserId > 0)
		BEGIN
			SET @SQLQuery = @SQLQuery + '
			AND CompanyID IN
			(
				SELECT DISTINCT MCG.CompanyID
				FROM MapCompanyGroup MCG
				INNER JOIN MapUserCompanyGroup MUCG
					ON MUCG.CompanyGroupID = MCG.CompanyGroupID
				WHERE MUCG.UserID = @UserId
			) '
		END


	IF (@AccountID >0)
	BEGIN
		SET @SQLQuery = @SQLQuery + ' AND  AccountID = @AccountID'
	END	
	IF (@ProjectID >0)
	BEGIN
		SET @SQLQuery = @SQLQuery + ' AND  ProjectID = @ProjectID'
	END	
	 


	 /*ORDER BY */
	 IF (@DateType ='CED')
		BEGIN
			Set @SQLQuery = @SQLQuery + ' ORDER BY ChequeEntryDate DESC'	
		END
	IF (@DateType ='CID')
		BEGIN
			Set @SQLQuery = @SQLQuery + ' ORDER BY ChequeIssueDate DESC'	
		END
	IF (@DateType ='CCD')
		BEGIN
			Set @SQLQuery = @SQLQuery + ' ORDER BY ChequeClearDate DESC'	
		END
	PRINT @SQLQuery
	 SET @ParamDefinition =      '
				@DateType NVarchar(100),
                @StartDate DATETIME,
                @EndDate DATETIME,
                @ChequeStatusID BIGINT,
                @BankID BIGINT,
				@AccountID BIGINT,
				@ProjectID BIGINT,
                @ChequeNo   NVARCHAR(20),
				@UserId BIGINT'
  
    Execute sp_Executesql     @SQLQuery, 
                @ParamDefinition, 
				@DateType,
                @StartDate, 
                @EndDate, 
                @ChequeStatusID, 
                @BankID, 
				@AccountID,
				@ProjectID,
                @ChequeNo,
				@UserId
         

END 


