<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="NBankConnectionString" connectionString="Data Source=DESKTOP-8P10EV3;Initial Catalog=NBank2;User ID=sa;password=Test@2014" providerName="System.Data.SqlClient" />
    <!--<add name="NBankConnectionString" connectionString="Data Source=208.91.198.59;Initial Catalog=NBank;User ID=NBank;password=NBank@2017" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!--Local Connection String -->
    <add key="ServerName" value="DESKTOP-8P10EV3" />
    <add key="DatabaseName" value="NBank2" />
    <add key="UserID" value="sa" />
    <add key="Password" value="Test@2014" />
    <!--<add key="ServerName" value="208.91.198.59" />
    <add key="DatabaseName" value="NBank" />
    <add key="UserID" value="NBank" />
    <add key="Password" value="NBank@2017" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>