ALTER PROC [dbo].[UpdateChequeEntry]
(
    @Message NVARCHAR(4000) OUTPUT,

    @ChequeEntryID BIGINT = NULL,
    @ChequeEntryDate DATETIME = NULL,
    @ChequeEntryCode NVARCHAR(20) = NULL,
    @ProjectID BIGINT = NULL,
    @AccountID BIGINT = NULL,
    @AccountSubName NVARCHAR(100) = NULL,
    @BankID BIGINT = NULL,
    @ChequeNo NVARCHAR(20) = NULL,
    @TypeID BIGINT = NULL,
    @SubTypeID BIGINT = NULL,
    @ParameterID BIGINT = NULL,
    @ChequeTypeID BIGINT = NULL,
    @ChequeStatusID BIGINT = NULL,
    @ChequeIssueDate DATE = NULL,
    @ChequeClearDate DATE = NULL,
    @ChequeAmount DECIMAL(18,2) = NULL,
    @ChequeAmountTDS DECIMAL(18,2) = NULL,
    @Narration NVARCHAR(MAX) = NULL,
    @CompanyID BIGINT = NULL,
   @CreatedUserID BIGINT = null,
@UpdatedUserID BIGINT = null,
    @ERPID NVARCHAR(MAX) = NULL,@CreatedDate Datetime = null
,@UpdatedDate Datetime  =  null
)
AS
BEGIN

SET NOCOUNT ON;
BEGIN TRANSACTION;

------------------------------------------------------------
-- ✅ 1. DUPLICATE CHEQUE CHECK
------------------------------------------------------------
IF EXISTS
(
    SELECT 1
    FROM ChequeEntry
    WHERE BankID = @BankID
      AND CompanyID = @CompanyID
      AND ChequeNo = @ChequeNo
      AND ChequeEntryID <> @ChequeEntryID
)
BEGIN
    SET @Message = 'DUCH';
    ROLLBACK TRANSACTION;
    RETURN;
END

------------------------------------------------------------
-- ✅ 2. CHANGE DETECTION
------------------------------------------------------------
DECLARE @IsChanged BIT = 0;

IF EXISTS
(
    SELECT 1
    FROM ChequeEntry
    WHERE ChequeEntryID = @ChequeEntryID
    AND
    (
         ISNULL(ChequeEntryDate,'19000101') <> ISNULL(@ChequeEntryDate,'19000101')
      OR ISNULL(ProjectID,0) <> ISNULL(@ProjectID,0)
      OR ISNULL(AccountID,0) <> ISNULL(@AccountID,0)
      OR ISNULL(AccountSubName,'') <> ISNULL(@AccountSubName,'')
      OR ISNULL(BankID,0) <> ISNULL(@BankID,0)
      OR ISNULL(ChequeNo,'') <> ISNULL(@ChequeNo,'')
      OR ISNULL(TypeID,0) <> ISNULL(@TypeID,0)
      OR ISNULL(SubTypeID,0) <> ISNULL(@SubTypeID,0)
      OR ISNULL(ParameterID,0) <> ISNULL(@ParameterID,0)
      OR ISNULL(ChequeTypeID,0) <> ISNULL(@ChequeTypeID,0)
      OR ISNULL(ChequeStatusID,0) <> ISNULL(@ChequeStatusID,0)
      OR ISNULL(ChequeIssueDate,'19000101') <> ISNULL(@ChequeIssueDate,'19000101')
      OR ISNULL(ChequeClearDate,'19000101') <> ISNULL(@ChequeClearDate,'19000101')
      OR ISNULL(ChequeAmount,0) <> ISNULL(@ChequeAmount,0)
      OR ISNULL(ChequeAmountTDS,0) <> ISNULL(@ChequeAmountTDS,0)
      OR ISNULL(Narration,'') <> ISNULL(@Narration,'')
      OR ISNULL(CompanyID,0) <> ISNULL(@CompanyID,0)
      OR ISNULL(ERPID,'') <> ISNULL(@ERPID,'')
    )
)
BEGIN
    SET @IsChanged = 1;
END

------------------------------------------------------------
-- ✅ 3. UPDATE ONLY WHEN CHANGED
------------------------------------------------------------
IF @IsChanged = 1
BEGIN

    UPDATE ChequeEntry
    SET
        ChequeEntryDate   = @ChequeEntryDate,
        ProjectID         = @ProjectID,
        AccountID         = @AccountID,
        AccountSubName    = @AccountSubName,
        BankID            = @BankID,
        ChequeNo          = @ChequeNo,
        TypeID            = @TypeID,
        SubTypeID         = @SubTypeID,
        ParameterID       = @ParameterID,
        ChequeTypeID      = @ChequeTypeID,
        ChequeStatusID    = @ChequeStatusID,
        ChequeIssueDate   = @ChequeIssueDate,
        ChequeClearDate   = @ChequeClearDate,
        ChequeAmount      = @ChequeAmount,
        ChequeAmountTDS   = @ChequeAmountTDS,
        Narration         = @Narration,
        CompanyID         = @CompanyID,
        UpdatedUserID     = @UpdatedUserID,
        ERPID             = @ERPID,
        UpdatedDate       = GETDATE()   -- ✅ Change date ONLY now

    WHERE ChequeEntryID = @ChequeEntryID;

    SET @Message = 'SAVE';

END
ELSE
BEGIN
    SET @Message = 'NOCHANGE';
	--SET @Message = 'SAVE';
END

------------------------------------------------------------
-- ✅ 4. COMMIT
------------------------------------------------------------
COMMIT TRANSACTION;

END
